<div class="container-fluid pt-10">
  <h2 class="titulo">{{ product.name }}</h2>

  <div *ngIf="!product">Cargando...</div>

  <div *ngIf="product" class="row">
    <div class="col-md-6">
      <p><strong>ID:</strong> {{ product.id }}</p>
      <p><strong>Nombre:</strong> {{ product.name }}</p>
      <p><strong>Descripción:</strong> {{ product.descripcion }}</p>
      <p><strong>Marca:</strong> {{ product.marca }}</p>
      <p><strong>Cantidad:</strong> {{ product.cantidad }}</p>
      <p><strong>Estado:</strong> {{ product.estado }}</p>
    </div>
    <div class="col-md-6">
      <p><strong>Precio base:</strong> {{ product.precioBase.toFixed(2) }}</p>
      <p><strong>Tipo de IVA:</strong> {{ product.tipo_iva }}</p>
      <p>
        <strong>Fecha de creación:</strong>
        {{ datePipe.transform(product.fechaCreacion, 'dd/MM/yyyy')}}
      </p>
      <p><strong>Proveedor:</strong> {{ product.proveedor }}</p>
      <p><strong>Código de barras:</strong></p>
      <img
        [src]="
          'https://barcode.tec-it.com/barcode.ashx?data=' +
          product.cod_barras +
          '&code=Code128&dpi=96&dataseparator='
        "
        alt="Código de barras"
      />
    </div>
  </div>
</div>
