<div class="container-fluid pt-10">
  <button class="btn btn-dark" (click)="volver()">Volver</button>

  <div class="container-fluid pt-10">
    <h2 class="titulo">{{ product.name }}</h2>

    <div *ngIf="!product">PRODUCTO NO ENCONTRADO</div>

    <div *ngIf="product" class="row">
      <div class="col-md-6">
        <p><strong>ID:</strong> {{ product.id }}</p>
        <p><strong>Nombre:</strong> {{ product.name }}</p>
        <p><strong>Descripción:</strong> {{ product.descripcion }}</p>
        <p><strong>Marca:</strong> {{ product.marca }}</p>
        <p><strong>Cantidad:</strong> {{ product.cantidad }}</p>
        <p><strong>Estado:</strong> {{ product.estado }}</p>
      </div>
      <div class="col-md-6">
        <p><strong>Precio base:</strong> {{ product.precioBase.toFixed(2) }}</p>
        <p><strong>Tipo de IVA:</strong> {{ product.tipoIva.name }}</p>
        <p>
          <strong>Fecha de creación:</strong>
          {{ datePipe.transform(product.fechaCreacion, "dd/MM/yyyy") }}
        </p>
        <p>
          <strong>Proveedor:</strong>
          <a (click)="mostrarDetalleProveedor(product.proveedor)">{{
            product.proveedor.name
          }}</a>
        </p>
        <p><strong>Código de barras:</strong></p>
        <div class="container-center p-10">
          <img
            [src]="'https://barcodeapi.org/api/codabar/' + product.codBarras"
            alt="Código de barras"
          />
        </div>
      </div>
      <div class="container-center p-10">
        <button class="btn btn-dark" (click)="EditProduct(product.id)">
          Editar Producto
        </button>
      </div>
    </div>
  </div>
</div>
<br />
<br />
