.title-color {
    color: #323232;
  }
  
  .text-color {
    color: #323232;
  }
  
  .button-color {
    background-color: #DDD0C8;
    border-color: #DDD0C8;
    color: #323232;
  }
  
  .btn-animation {
    transition: all 0.3s ease;
  }
  
  .btn-animation:hover {
    background-color: #323232;
    border-color: #323232;
    color: #DDD0C8;
  }
  