<div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1 class="title-color">StockControll</h1>
        <p class="text-color">Un sistema de gestión de inventario ayuda a las empresas a realizar un seguimiento eficiente de sus productos y su disponibilidad. Con un sistema de este tipo, se pueden evitar pérdidas financieras al controlar los niveles de stock y prevenir el exceso o la falta de inventario.</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-3 text-center">
        <button class="btn btn-primary button-color btn-animation">Productos</button>
      </div>
      <div class="col-sm-3 text-center">
        <button class="btn btn-primary button-color btn-animation">Informes</button>
      </div>
      <div class="col-sm-3 text-center">
        <button class="btn btn-primary button-color btn-animation">Otros</button>
      </div>
    </div>
  </div>
  